@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

#anidiv {
  	height:100%;
   	width: 100%;
	background-color:#966;
}

#fullscreenVid {
	display: none;
	background-color: #00CC33;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.video{
	height: 34%;
	width: 100%;
	background-color: #333333;
}

.video2{
	height: 100%;
	width: 100%;
	background-color: #333333;
	border: 1px solid black;
}

.even {
	background-color: #9999ff;
}
.odd {
	background-color: #6666ff;
}

.even2 {
	background-color: #E62E00;
}
.odd2 {
	background-color: #DC917F;
}

#reportQ {
	background-color: #DC917F;
	border: 0.5px black;
	/*float: right;*/
	position: absolute;
	right:0;
	top: 0;
	clear: both;
}

#answer {
	width: 100%;
	height: 100%;
}

#showImg {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20%; 
	width: 100%;
	border: 0;
	background-color:#6666ff;
}

#closeImg {
	padding: 1em;
	float: right;
	clear: both;
}

#ansQ {
	position: relative;
	width: 100%;
	height: 33.33%;
	padding: 0;
}

#ansQ h1 {
	color: #FFF;
	opacity: 0.5;
	position: absolute;
	top: 5px;
	left: 10px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ansText {
	background-color: #9999ff;
	width: 100%;
	height: 33.33%;
	padding: 0;
	position: relative;
}

#ansText h1 {
	color: #FFF;
	opacity: 0.5;
	position: absolute;
	top: 5px;
	left: 10px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ansText h2 {
	color: #E62E00;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	left: 40%;
}

#ansText textarea {
	width: 100%;
	height: 80%;
}

#ansBut {
	width: 100%;
	height: 33.33%;
	background-color:#6666ff;
	border: 0;
}

#unansweredQs {
	width: 100%;
	padding: 1em;
}
.rotateImg {
	/*
	-ms-transform: rotate(7deg); /* IE 9 */
    /*
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    /*
	transform: rotate(7deg);
	*/	
}

#myQImg {
	background-color:#ccccff;
}

#myQReport {
	background-color: #DC917F;
}

.myQBut {
	margin: 0.2em;
	float: left;
	width: 60%;
	border: 0;
}

#reportSpan {
	float: left;
}

#removeQ {
	float: right;
}

#myQPhoto {
	position: relative;
	height: 6em;
	width: 33%;
	float: right;
}

#senderData {
	position: absolute; 
	color: lightgray;
	padding: 0.5em;
	font-style: italic;
	right: 0; 
	bottom: 0;
}

#myQPhoto img {
	max-width:100%;
	max-height:100%;
}

.qInput {
	width: 35%;
}

#myQuestions {
	position: relative;
	padding: 1em;
	width: 100%;
}

#myQuestions h2 {
	width: 40%;
}

#answerPic {
	max-width: 100%;
	max-height: 80%;
	margin-top: 1em;
}

#askImage {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 25%;
	background-color: red;
	display: inline;
}

#smallImage {
	
}

#theChoices {
    text-align: center;
}

*{	
	margin:0px;padding:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

html{
  height: 100%;  
}
body {
  height: 100%;
  background-color:#ccccff;
  padding:0px;
  margin:0px;
  color:#000066M;
}
h1 { 	 
	font-family: 'Roboto Condensed', sans-serif; color:#000066M;
}

div {	
	border: 0px solid;
}
#buttonOne {
	background-color:#06F; padding:13em;
}

#theChoices {
	height:100%;
}

#theChoices #view{
	height: 100%;
}
#contentDiv {	
	height: 100%;
}
#view {
	height: 100%;	
}

#theChoices button:first-child {
	background-color:#ccccff;
}
 
#theChoices button:nth-child(3) {
	background-color:#9999ff;
}
 
#theChoices button:nth-child(5) {
	background-color:#6666ff;
	height:34%;
}

#theChoices button {    
    width: 100%;
	height:33%;
    border: 0px;
    border-radius: 0px;			    
}

#items {
	display:inline;
	/* background-color:#09F;	
	padding-left: 1em; 
	background-color:#0F3; */
}

#localItems {
	display:inline;	
}

input {
	width:100%;
}

#history {
	height: 100%;
	width: 100%;
}

textarea {
	width:100%;
	height: 30%;
}

#theChoices button h1 {
	font-size:350%; 
}

/*
 * Pageslide CSS
 */

.sliderHolder {
	position: absolute;
	right: 10px;
}

.sliderText {
	float: left;
	margin-top:22px;
	color: darkgreen;
	font: bold 16px Verdana;
}
.oneRow {
	height: auto;
}
#footer {
	width: 80%;
	position: absolute;
	bottom: 1em;
	text-align: center;
}
 /* .pushButtonSlide begins */

.pushSlide {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;
	position: relative;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.pushSlide:after {
	content: 'OFF';
	color: #000;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.pushSlide:before {
	content: 'ON';
	color: #27ae60;
	position: absolute;
	left: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
}
.pushSlide label {
	display: block;
	width: 34px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	border-radius: 50px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.pushSlide input[type=checkbox] {
	visibility: hidden;
}
.pushSlide input[type=checkbox]:checked + label {
	left: 43px;
}

/* end .pushButtonSlide */
.ng-pageslide {
    background: #eee;
    box-shadow: 3px 0px 7px 2px;
}

#slidah {
	background: #eee;
    box-shadow: 0px 0px 0px 0px;
}

#fbPic {
	margin-top: 20px;
	width: 4em;
	height: 5em;
	border-radius: 2.5em;
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
}
#content {
	padding: 15px;
	height: 100%;
	width: 100%;
}


#personal {
	position: relative;
	border: 1px solid;
	padding-top: 1em;
	background-image: url("../img/water.jpg");
	background-size: 100%;
	text-align: center;
	height: 30%;
	width: 100%;
}

#nfo {
	color: #ddffdd;
	position: absolute;
	bottom: 1px;
	width: 100%;
	text-align: center;
}

#menuName{
	margin-top: 10px;
}

#settings {
	padding: 3em 0 0 1em;
	height: 70%;
	width: 100%;
	display: inline;
}

.settingText{
	float:left;
	background-color: #0066FF;
}

.settingBox{
	float:left
	width: 20px;
	height: 20px;
	background-color: #00CC33;
}
/*
 * Banned CSS
 */
#banned {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: lightcoral;
}
.bannTxt  {
	margin: 2em 1em 2em 1em;
}
#banned button{
	width: 50%;
	height:30px;
	border-radius: 5%;
}
#oops {
	background-color: crimson;
	padding: 20px 0 40px 0;
}

 #askquestion {
	height:100%;
	width:100%;
	background-color:black;
}

#askquestion h1{
	font-size:350%;
} 

#askquestion textarea {
	height:33%;
	border:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:1em;
	padding-bottom:0px;
	display: block;
}

#askquestion button {		    
    width: 100%;
	height:33%;
    border-radius: 0px;	
	display: block;
	border:none;			    
}

#btnask2 {
	background-color:#123456;
}



