<div ng-controller="animationCtrl" style="height:100%; width:100%;">

	<div id="aniDiv" style="height:100%; width:100%;">    	            	
      
      	<div style="height:100%; width:100%; background-image:url(img/logo_question_mark.png); background-repeat: no-repeat; background-attachment: fixed;
 ; background-position: center;">   						      			 	
			       		
       	</div>
                 
    </div>

</div>