<div id="answer" ng-controller="answerCtrl" >
	<!-- ng-swipe-right="toggle()" -->
	<video id="fullscreenVid"></video>

	<div id="ansQ">
		<video id="vidQ" class="video2" ng-click="playVideo() src="'{{video}}'"></video>
		<button id="reportQ" ng-click="reportQ()">Report Q</button>
		<h1>Answer this video-Q:</h1>
	</div>

	<div id="ansText">
		<video id="vidA" class="video2" poster="img/logo.png"></video>

		<!-- H-taggarna skall inte innehålla ng-click vid release. Då sakll vi ha snygga bilder !!  -->
		<h1 ng-click="playVideoA()">With your own video..</h1>
		<h2 ng-click="captureVideo()">REC</h2>
	</div>


	<button id="ansBut" ng-click="answer()"><h1>Answer</h1></button>
	

	<div id="smallImageDiv" style="position:absolute; display:none; z-index:1000; height:100%; width:100%; max-height:100%; max-width:100%; top:0; left:0;">	    	
		
        <div style="height:100%; position:relative; width:100%;" ng-click="closePhoto()" >        	            
        	 
			<div style="position:absolute; top:0; left:0; background-color:black; width:100%; height:100%; opacity:0.85; z-index:1001;"></div>
            
            <div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:1002;">            
            	<div style="display:table; height:100%; width:100%;">
                	<div style="display:table-cell; height:100%; height:100%; vertical-align:middle; text-align:center;">
                    	
						<img ng-click="closePhoto()" id="smallImage" style="max-width:100%; max-height:100%; margin: 0 auto;" src="{{imgUrl}}" /> 
						
                    </div>
                </div>        
            </div>            
                
       </div>
       
    </div>

	<!--<div id="slidah" style="background-color: rgba(0, 0, 0, 0.5)" pageslide ps-open="checked" ps-side="left" ps-push="true" ps-auto-close="true" ps-size="80%" ps-custom-height="100%" ps-speed="0.3" ng-swipe-left="toggle()" >
        <div id="content" >
            <button id="closeImg" ng-click="toggle()">X</button>
            <img id="answerPic" src="{{imgUrl}}">
        </div>
    </div>-->


