<div ng-controller="askFormCtrl" id="askquestion" style="position:relative;">
    <!--
    
    <form name="askForm" ng-submit="submitForm($event)"><textarea name="question" ng-model="form.question" placeholder="Type your question here..." required ></textarea>
    
    <button type="button" ng-click="takePhoto()"><h1>Take a Pic</h1></button>
    
    <button id="btnask2" type="submit" value="Send"><h1>Send</h1></button>
                
    </form>
    
    
    -->    
    <form name="askForm" ng-submit="submitForm($event)" style="height:100%;">
        <!--<textarea name="question" style="height:33%; width:100; background-color:white;" ng-model="form.question" placeholder="Type your question here..." required ></textarea> -->
    
        <video id="video" ng-click="playVideo()"></video>
        <button type="button" style="height:33%; width:100%; background-color:#ccccff;" ng-click="captureVideo()"><h1>Take a Pic</h1></button>
        <button id="btnask2" style="height:34%; width:100%; background-color:#9999ff;" type="submit" value="Send"><h1>Send</h1></button>
    
    </form>

    <div id="showVideo">
        <video id="video"></video>
    </div>
    <div id="showPhotoButton" style="position:absolute; height:80px; display:none; width:80px; top:50%; left:0; margin-top:-40px;">	    	
		<img src="img/showPhotoButton.png" ng-click="showPhoto()" style="width:100%;" />        
    </div>
    
    <div id="smallImageDiv" style="position:absolute; display:none; z-index:1000; height:100%; width:100%; max-height:100%; max-width:100%; top:0; left:0;">	    	
		
        <div style="height:100%; position:relative; width:100%;" ng-click="closePhoto()" >        	            
        	 
			<div style="position:absolute; top:0; left:0; background-color:black; width:100%; height:100%; opacity:0.85; z-index:1001;"></div>
            
            <div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:1002;">            
            	<div style="display:table; height:100%; width:100%;">
                	<div style="display:table-cell; height:100%; height:100%; vertical-align:middle; text-align:center;">
                    	
						<img ng-click="closePhoto()" id="smallImage" style="max-width:100%; max-height:100%; margin: 0 auto;" src="" /> 
						
                    </div>
                </div>        
            </div>            
                
       </div>
       
    </div>
    
    
    
</div>