<div ng-controller="bannedCtrl" id="banned">
    <div>
        <div id="oops">
            <h1>Ooops !</h1>
            <h3>You're currently on our blacklist.</h3>
        </div>
        <p class="bannTxt">That means you have been reporet at least 10 times or more.
            Either from a question you made or an answer you gave.</p>
        <p class="bannTxt">If you have any queations please feel free to mail us at laquestione@gmail.com</p>
        <button ng-click="exit()">Ok, got it</button>

    </div>

</div>