<div ng-controller="contactsCtrl">

	Exempeltext: Vi som skapat denna appen består av ett studentgäng
	som läser på IT-Högskolan i Göteborg!
<br>
	Exempeltext: Detta är vårt sista project innan Lian!!!!
<br>
<br>
	       Vi är: 
<br>
<br>
	       Jonas Ekström 
           <button id="jonas" ng-click="Jonas">Jonas</button>
<br>
<br>

	       Viktor Jegerås
	       <button id="victor" ng-click="Viktor">Victor</button>
<br>
<br>

	       Daniel Frid
	       <button id="daniel" ng-click="Daniel">Daniel</button>
<br>
<br>

	       Mattias Larm
	       <button id="mattias" ng-click="Mattias">Mattias</button>

<br>
<br>
	       Janne Claesson
	       <button id="janne" ng-click="Janne">Janne</button> 


</div>