<div>
	<div ng-controller="loginCtrl">
		<button id="fbLoginButton" ng-click="login()">FaceBookLogin</button> <br/><br/><br/>
        <button id="fbShareButton" ng-click="showDialog();">Share on FB</button> <br/>
        <button id="fbapiTest" ng-click="apiTest();">Test API with Facebook</button> <br/>
        <button id="fbgetAccessToken" ng-click="getAccessToken();">Get access token FB</button> <br/>
        <button id="fbgetStatus" ng-click="getStatus();">Get login status with FB</button> <br/>
        <button id="fblogout" ng-click="logout();">Logout Facebook</button> <br/>
         <button id="goToStartPage" ng-click="startpage()">goToStartPage</button><br/> 

        <button  id="contacts" ng-click="contacts()">contacts</button> 


		 
                 

        <div id="fb-root"></div> 
        <script type="text/javascript" src="cordova.js"></script>
        
	</div>

</div>


        