<div id="history" ng-controller="myqsCtrl">
	    
    <!--<div id="items">    	
    	<button id="reportA" style="display='none' padding='1em'" ng-click="reportA()">Report Answer</button>
    </div>
        
    <div id="localItems">
     	
    </div>-->

    <div id="unansweredQs" ng-repeat="q in unAnsweredQs" ng-class-odd="'odd2'" ng-class-even="'even2'">

        <h2>Question:</h2>      
        <span>
            {{q.question}}
        </span>
        
        <h2>Answer:</h2>
        <span>
            Waiting for answer...
        </span>   

    </div>

    <div id="myQuestions" ng-repeat="q in questions" ng-class-odd="'odd'" ng-class-even="'even'">
    	
    	<span id="removeQ" ng-click="removeQ(q)">X</span>
    	
        <div id="myQPhoto">
            <button ng-if="q.image" class="myQBut" id="myQImg" ng-click="showPhoto(q.image._url)">
                <h3>Show image</h3>
            </button>
            <!--<input type="image" src="img/showPhotoButton.png" ng-if="q.image" class="myQBut" id="myQImg" ng-click="showPhoto(q.image._url)">-->
            <span id="reportSpan" ng-if="!q.sender.gender && !q.sender.age">
                If you get <b>10</b> reports you will be <u><b>banned</b></u>!
            </span>


            <button ng-if="q.sender.gender && q.sender.age" class="myQBut" id="myQReport" ng-click="myQReport(q)">
                <h3>Report answer</h3>
            </button>
            
        </div>

        <span ng-if="q.sender.gender && q.sender.age" id="senderData">
            {{q.sender.gender}}, {{q.sender.age}}
        </span>

        <h2>Question:</h2>    	
    	<span class="qInput">
    		{{q.question}}
    	</span>
       
        <h2>Answer:</h2>
    	<span class="qInput">
    		{{q.answer}}
		</span>
    </div>

    <div id="smallImageDiv" style="position:fixed; display:none; z-index:1000; height:100%; width:100%; max-height:100%; max-width:100%; top:0; left:0;">            
        
            <div style="height:100%; position:relative; width:100%;" ng-click="closePhoto()" >                      
                 
                <div style="position:absolute; top:0; left:0; background-color:black; width:100%; height:100%; opacity:0.85; z-index:1001;"></div>
                
                <div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:1002;">            
                    <div style="display:table; height:100%; width:100%;">
                        <div style="display:table-cell; height:100%; height:100%; vertical-align:middle; text-align:center;">
                            
                            <img ng-click="closePhoto()" id="smallImage" style="max-width:100%; max-height:100%; margin: 0 auto;" src="" /> 
                            
                        </div>
                    </div>        
                </div>            
                    
           </div>
           
        </div>
    

</div>
