
<div id="theChoices" ng-app="startpage" ng-controller="startpageCtrl" ng-swipe-right="toggle()" >
	<button ng-click="newQ()"><h1>Ask something</h1></button><br />
	<button ng-click="answerQ()"><h1>Answer wisely</h1></button><br />
	<button ng-click="myQs()"><h1>History</h1></button><br />


	<div pageslide ps-open="checked" ps-side="left" ps-push="true" ps-auto-close="true" ps-size="80%" ps-custom-height="100%" ps-speed="0.3" ng-swipe-left="toggle()" >
                    <div id="content" >
                        <div id="personal">
                            <img id="fbPic" ng-src="{{thePic}}"/> <br/>
                            <div id="nfo">
                                Welcome: {{fbData.name}} <br/>
                            </div>

                        </div>
                        <div id="settings">
                            <div class="oneRow">
                                <div class="sliderHolder">
                                    <div class="pushSlide">
                                        <input type="checkbox" id="pushSlide" ng-model="checkboxModule.push" ng-change="saveData()" ng-checked="push"/>
                                        <label for="pushSlide"></label>
                                    </div>
                                </div>
                                <div class="sliderText">
                                    Push notifications
                                </div>
                            </div>
                        </div>
                        <div id="footer">
                            <img src="img/mini_logo.png">
                        </div>
                    </div>
    </div>
</div>